# from https://stackoverflow.com/a/5581995/1983957

# ignores all files in this directory
*

# ignores all subdirectories in this directory
*/

# an exception to the above rules is we allow this file to be added
!.gitignore
